
.team-banner {
     background-image: url(../../../assets/images/rge.webp);
    height: 350px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.team-banner h1 {
    color: white;
    font-size: 45px;
}
section.team-banner ul {
    display: flex;
    gap: 20px;
    color: white;
    margin-top: 14px;
}